## Text Data Partitioning

### Guidance</br>
<li>obtain the list of books by using .fileids() function. </li>
<li>import data from Gutenberg by using .raw() function. </li>
<li>tokenization of words by using word_tokenize() function. </li>
<li>create 200 random sample of 100 words for each book. </li>
<li>use for loop </li>
<li>divide the tokenized words into chunks and label the chunks </li>
<li>use random.randint() function to randomly pick a start position for selecting the 150 words </li>
<li>use append function to label each chunk to the corresponding label (e.g., author name) </li>

## Importing necessary libraries

In [ ]:
# import necessary libraries and modules
import math
import re
import nltk
import csv
import random
import pandas as pd
from urllib import request
from nltk.corpus import gutenberg, stopwords
from nltk.tokenize import word_tokenize

## Obtaining the list of books

In [ ]:
# obtain the list of books by using .fileids() function.
list_of_books=nltk.corpus.gutenberg.fileids()
list_of_books

In [ ]:
# define 3 books for using
books= ['austen-sense.txt','bible-kjv.txt','chesterton-brown.txt']

## Creating function that
<li>tokenizes words by using word_tokenize() function.</li>
<li>creates 200 random sample of 100 words for each book.</li>
<li>divides the tokenized words into chunks and label the chunks.</li>
<li>randomly picks a start position for selecting the 150 words.</li>

In [ ]:
def read_book(Name):
    # read the raw text of the book
    book = nltk.corpus.gutenberg.raw(Name)
    # tokenize the book text using word_tokenize() function
    tokenize_book = word_tokenize(book)
    # filter out tokens that are not alphanumeric and have a length less than 2
    tokenize_book = [token for token in tokenize_book if token.isalnum() and len(token) >= 2]
    # initialize an empty list for the partitions
    list_of_part = []
    # generate 200 partitions of 100-word sequences from the book
    for i in range(200):
        start = random.randint(0, len(tokenize_book)-100)
        # append the 100-word sequence to the 'list_of_part' list as a string
        list_of_part.append(' '.join(tokenize_book[start:start+100]))
    # create a Pandas DataFrame with the partitions from 'list_of_part' and add a 'label' column with the book Name
    df = pd.DataFrame({"Chunks": list_of_part, "Label": re.sub(r".txt", "", Name)})
    return df

## Use for loop to loop 3 book

In [ ]:
data=pd.DataFrame()
df=pd.DataFrame()
for name in books:
    df=read_book(name)
    data=data.append(df,ignore_index=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_12780\2478111275.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data.append(df,ignore_index=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_12780\2478111275.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data.append(df,ignore_index=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_12780\2478111275.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data.append(df,ignore_index=True)

In [ ]:
# display the unique names of books
data['Label'].unique()

array(['austen-sense', 'bible-kjv', 'chesterton-brown'], dtype=object)

In [ ]:
# define a dictionary to map the unique values of 3 books in label column to a, b, and c
mapping = {'austen-sense': 'a', 'bible-kjv': 'b', 'chesterton-brown': 'c'}

# replace the unique values with a, b, and c using the mapping dictionary
data['Label'] = data['Label'].replace(mapping)

In [ ]:
# print the first 200 rows of the 'data' DataFrame
data.head(200)

                                                Chunks Label
0    of It wo Then came your dear mother to torture...     a
1    the time but was declared over again the next ...     a
2    Elinor one which with Delaford living was all ...     a
3    am sure they are dearer Elinor heart which had...     a
4    Elinor uneasiness was at least equal to her mo...     a
..                                                 ...   ...
195  by all accounts almost at do think she continu...     a
196  his father was by this arrangement rendered Th...     a
197  mind be satisfied with wife like her illiterat...     a
198  my misery and my penitence tell her that my he...     a
199  women as Fanny would like to associate with Bu...     a

[200 rows x 2 columns]

In [ ]:
# convert dataframe to csv file
data.to_csv('Result_file.csv',index=False)